/* Variables */
:root {
    --var1: #e6e6e6;
    --var2: #f7b600;
    --var3: #4e4e4e;
    --var4: #cccccc;
    --var5: #f4f4f4;
    --var6: #565656;
}

/* Cleaning default formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: var(--var1);
}

/* Layout */
#header-area {
    background-color: var(--var2);
    padding: 15px;
    text-align: center;
}

#logo-area, #menu-area {
    padding: 10px;
}

main {
    width: 950px;
    margin: 0 auto;
    padding: 15px;
}

#posting-area {
    width: 660px;
    float: left;
}

#side-area {
    width: 240px;
    float: right;
}

.posting {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

.side-content {
    background-color: #fff;
    padding: 10px;
    margin-bottom: 20px;
}

.side-posting {
    font-size: 0.8em;
    padding: 5px;
    border-bottom: 1px dotted var(--var4);
}

.side-posting a.category-link {
    display: block;
    font-size: 1.3em;
}

footer {
    clear: both;
    background-color: var(--var4);
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

/** Menu formatting **/
a {
    text-decoration: none;
}

a:link, a:visited {
    color: var(--var2);
    font-weight: 600;
}

a:hover {
    text-decoration: underline;
}

#menu-area a:link, #menu-area a:visited {
    color: #fff;
    padding: 8px 12px;
    font-weight: normal;
}

#menu-area a:hover {
    background-color: #fff;
    color: var(--var2);
    text-decoration: none;
}

/** Genereal formatting **/
h1 {
    color: var(--var3);
    font-size: 2.5em;
}

h2 {
    color: var(--var2);
}

h3 {
    color: var(--var6);
    background-color: var(--var4);
    padding: 5px;
}

.white {
    color: #fff;
}

.posting-date {
    font-size: 0.8em;
    border-bottom: 1px solid var(--var5);
    padding-bottom: 10px;
    margin-bottom: 10px;
    display: block;
}

.last-side-posting {
    border-bottom: none;
}