/* Variables */
:root {
    --var1: #e6e6e6;
    --var2: #f7b600;
    --var3: #4e4e4e;
    --var4: #cccccc;
}

/* Cleaning default formatting */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 1em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: var(--var1);
}

/* Layout */
#header-area {
    background-color: var(--var2);
    padding: 15px;
    text-align: center;
}

#logo-area, #menu-area {
    padding: 10px;
}

main {
    width: 920px;
    margin: 0 auto;
}

#posting-area, #side-content {
    background-color: orange;
}

#posting-area {
    width: 660px;
    float: left;
}

#side-content {
    width: 240px;
    float: right;
}

.posting {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #fff;
}

footer {
    clear: both;
    background-color: var(--var4);
    width: 920px;
    margin: 0 auto;
    padding: 15px;
    text-align: center;
}

/** Menu formatting **/
a {
    text-decoration: none;
    padding: 8px 12px;
}

a:link, a:visited {
    color: #fff;
}

a:hover {
    background-color: #fff;
    color: var(--var2);
}

/** Genereal formatting **/
h1 {
    color: var(--var3);
    font-size: 2.5em;
}

.white {
    color: #fff;
}